:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --board-width: 500px;
  --board-height: 300px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  width: 100%;
  height: 100%;
  padding: 12px;
}

#board-container {
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: burlywood;
}

#board {
  position: relative;
  background-color: gray;
  width: var(--board-width);
  height: var(--board-height);
}

#board > * {
  position: absolute;
  cursor: pointer;
}

#image {
  width: 25rem;
  object-fit: contain;
}

.helpers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  flex-grow: 0;
}

.piece {
  position: absolute;
  top: 100px;
  background-color: red;
  height: 50px;
  width: 65px;
  cursor: pointer;
}

figure > figcaption {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row > * {
  margin-bottom: 0;
}