:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --board-width: 500px;
  --board-height: 300px;
}
body {
  margin: 0;
}

#board {
  position: relative;
  background-color: gray;
  width: var(--board-width);
  height: var(--board-height);
}

#image {
  max-width: calc(100vw - 5rem);
  max-height: 500px;
  object-fit: contain;
}

.piece {
  position: absolute;
  cursor: pointer;
}

figure > figcaption {
  text-align: center;
}

.combined-piece {
  cursor: pointer;
  display: grid;
}
