.ChampMastery {
  position: relative;
}

.chestIcon {
  position: absolute;
  left: calc(50% + 0.25rem);
  top: 50%;
  height: 90px;
  width: 90px;
  color: green;
  transform: translate(-50%, -50%);
}

.champImage {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  border-width: 0.25rem;
  overflow: hidden;
}

.chestAvailable {
  border-style: solid;
  border-color:limegreen;
}

.chestGranted {
  margin: 0.25rem;
  opacity: 0.5;
}
