.SummonerContainer {
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.SummonerContainer > * {
  flex: 1;
}

.SummonerContainer img {
  height: 100%;
  object-fit: contain;
  margin-right: .5rem;
}
