.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: transparent;
  overflow: hidden;
  justify-content: space-between;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 57, 1) 35%,
    rgba(17, 85, 119, 1) 100%
  );
}

footer {
  text-align: left;
  padding: 2px;
  color: rgba(2, 0, 36, 1);
  border-top: 1px solid rgba(9, 43, 57, 1);
}

a {
  color: inherit;
}

.SummonerInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 2.5rem;
}

.SummonerInfo > label {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: .5rem;
}

.SummonerInfo > input[type="checkbox"] {
  display: none;
}

.filterChamps {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.SummonerInfo > .ChestIcon {
  height: 2rem;
  width: 2.5rem;
  cursor: pointer;
}

article {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 1rem;
}

h1, h2, h3, h4, label {
  color: goldenrod;
  margin: 0;
  padding: 0;
}

input {
  margin: 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid #c79944;
  background: #1e2328;
  color: #cdbe91;
}

input:focus {
  outline: none !important;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 57, 1) 35%,
    rgba(17, 85, 119, 1) 100%
  );
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 57, 1) 35%,
    rgba(17, 85, 119, 1) 100%
  );
}

button {
  background: #1e2328;
  border-radius: 2px;
  border: 2px solid #c79944;
  color: #cdbe91;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  label[for="filterChests"]{
    display: none;
  }
}