.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 57, 1) 35%,
    rgba(17, 85, 119, 1) 100%
  );
  overflow: hidden;
}

article {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 1rem;
}

h1, h2, h3, h4 {
  color: goldenrod;
  margin: 0;
  padding: 0;
}

input {
  margin: 1rem 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 2px solid #c79944;
  background: #1e2328;
  color: #cdbe91;
}

input:focus {
  outline: none !important;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 57, 1) 35%,
    rgba(17, 85, 119, 1) 100%
  );
}

button:hover {
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 43, 57, 1) 35%,
    rgba(17, 85, 119, 1) 100%
  );
}

button,
input {
  font-size: 1.5rem;
  padding: 0.7rem;
}

button {
  background: #1e2328;
  border-radius: 2px;
  border: 2px solid #c79944;
  color: #cdbe91;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
